# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll

### Jekyll ###
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/jekyll
